<div class="input">
  <div>
    <label>Amount</label>
    {{input value=amount size=8 key-press=updateAmount}}
  </div>
  <div>
    <label>Years</label>
    {{input value=years size=2 key-press=updateYears}}
  </div>
  <div>
    <label>Rate</label>
    {{input value=rate key-press=updateRate}}
  </div>
</div>
<svg></svg>
{{yield}}
