

<div class="form-horizontal">
  <div class="form-group">
    <label for="loanamount" class="col-xs-3 align-right margintop">
      <span>Loan Amount ($)</span>
    </label>
    {{input id="loanamount" type="amount" value=amount class="data"}}
  </div>
  <div class="form-group">
    <label for="rate" class="col-xs-3 align-right margintop">
      <span>Rate (%)</span>
    </label>
    {{input id= "rate" type="rate" value=rate class="data"}}
  </div>
  <div class="form-group">
    <label for="years" class="col-xs-3 align-right margintop">
      <span>Years</span>
    </label>
    {{input id="years" type="number" value=years class="data" min=1 max=100}}
  </div>
</div>
{{component 'line-chart' data=data}}
